/* General container styling */


/* Styling for the whole auth container */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: 100px;
}

/* Main auth form card */
.auth-card {
  background: #fff;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.auth-title {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  background-color: #f1f1f1;
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

.tab.active {
  background-color: #0056b3;
  color: white;
}



.auth-form button {
  background-color: #0056b3;
  color: white;
  padding: 15px 25px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: #00408d;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
}

.success-message {
  color: green;
  margin-top: 10px;
  font-size: 0.9rem;
}

.d-flex {
  justify-content: space-between;
  margin-bottom: 10px;
}

a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
