.welcome-area {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../assets/images/banner2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  width: 100vw; /* Ensure it takes full viewport width */
  height: 100vh; /* Ensure it takes full viewport height */
}

.welcome-area .header-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Adjust centering */
  text-align: center;
  width: 100%;
}

.welcome-area .header-text h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: #fff;
}
.welcome-area .header-text h1 strong{
  font-size: 60px;
  color:aqua;

}
.welcome-area .header-text p {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 28px;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  position: relative;
}
.main-button-slider{
  text-decoration: none;

}

@media (max-width: 991px) {
  .welcome-area .header-text {
      top: 65% !important;
      transform: translateY(-60%) !important;
      text-align: center;
  }
  .welcome-area .header-text h1 {
      text-align: center;
      color: #fff;
      margin-bottom: 15px;
  }
  .welcome-area .header-text p {
      text-align: center;
      color: #fff;
      margin-bottom: 20px;
  }
  .welcome-area .header-text h1 strong{
    font-size: 40px;
  }
}

@media (max-width: 820px) {
  .welcome-area .header-text {
      top: 65% !important;
      transform: translateY(-60%) !important;
  }
  .welcome-area .header-text h1 {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 15px;
  }
  .welcome-area .header-text p {
      margin-bottom: 20px;
  }
  .welcome-area .header-text h1 strong{
    font-size: 40px;
  }
}

@media (max-width: 765px) {
  .welcome-area {
      margin-bottom: 100px;
  }
  .welcome-area .header-text {
      top: 50% !important;
      transform: translateY(-50%) !important;
      text-align: center;
  }
  .welcome-area .header-text .buttons {
      display: none;
  }
  .welcome-area .header-text h1 {
      font-weight: 600;
      font-size: 24px !important;
      line-height: 30px !important;
      margin-bottom: 30px !important;
  }
  .welcome-area .header-text h1 span {
      color: #fff;
  }
  .welcome-area .header-text p {
      text-align: center;
      color: #fff;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 40px;
  }
  .welcome-area .header-text h1 strong{
    font-size: 50px;
  }
}
